## Words

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [5]:
for word in words:
  print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [10]:
new_list = []

for word in words:
  if len(word) >= 5:
    new_list.append(word)
print(new_list)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [17]:
for word in new_list:
  if word[0] == 't':
    print(word)
    break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [18]:
# With list comprehension

squared_numbers = [x ** 2 for x in range (1,11)]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
# or with for loop

squared_numbers = []

for x in range(1,11):
  squared_numbers.append(x ** 2)
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [20]:
squares = []

for number in range(1,11):
  if number % 2 != 0:
    squares.append(number ** 2)
print(squares)

[1, 9, 25, 49, 81]

In [22]:
# or with list comprehension

squares = [x ** 2 for x in range(1,11) if x % 2 != 0]
print(squares)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [29]:
squares = [x ** 2 for x in range (1,1001) if x % 8 == 0]
print(squares)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064, 1000000]

## People

In [23]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "LucÃ­a",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [24]:
count_people = len(people)

print(count_people)

5

**How many people have kids**?

In [25]:
has_kids = [person for person in people if person["n_kids"] > 0]
count_kids = len(has_kids)
print(count_kids)

4

**How many kids do they have in total?**

In [26]:
total_kids = sum(person["n_kids"] for person in people)
print(total_kids)

10



```
# This is formatted as code
```

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [27]:
# add 1 kid to each person who's name ends in a
# creat new list with 

new_year = {}

for person in people:
    if person["name"][-1] == "a":
        person["n_kids"] += 1
        new_year[person["name"]] = person["n_kids"]
print(new_year)

{'Sonia': 2, 'LucÃ­a': 3}

In [28]:
import copy

next_year = copy.deepcopy(people)

for p in next_year:
    if p["name"].endswith("a"):
        p["n_kids"] += 1
print(next_year)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 3}, {'name': 'LucÃ­a', 'age': 22, 'n_kids': 4}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]